* {
    margin: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    background-color: #131a24;
}

.corpo
{
    background-color: #dbb16f;
    width: 50vw;
    height: 100vh;
    position: relative;
    left: 25%;
    display: flex;
}

.div1
{
    width: 400px;
    background-color: #b6935a;
}

.div2
{
    width: 400px;
}

.txt
{
    height: 455px;
    text-align: center;
}

.cor1
{
    position: relative;

    color: rgb(255, 255, 255);
}

.cor2
{
    position: absolute;
    left: 50px;
    bottom: 300px;
    color: rgb(218, 217, 217);
}

.img1
{
    height: 455px;
    position: relative;
    left: 25%;
    top: 20%;
}

.img2
{
    height: 200px;
}

.num1
{
    height: 455px;
    position: relative;
    left: 25%;
    top: 20%;
}

.img3
{
    height: 200px;
}

.pos1
{
    position: relative;
    left: 20px;
}

.pos2
{
    position: absolute;
    right: 150px;
    bottom: 300px;
}

.voltar
{
    position: absolute;
    top: 5%;
    left: 5%;
}

.svgseta
{
    fill: white;
    width: 55px;
    height: 55px;
}

.avoltar
{
    width: 55px;
    height: 55px;
}